*{
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}
body{
    display: flex;
    justify-content: center;
}
.bg-red{
    background:rgb(214, 88, 62) !important;
}
.bg-yellow{
    background:rgb(225, 237, 65) !important;
}
.bg-orange{
    background:rgb(228, 181, 65) !important;
}
.bg-green{
    background:rgb(106, 164, 56) !important;
}
.bg-gray{
    background: rgb(204, 204, 204);
}
.content{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 70%;
}
.itemContent{
    display: flex;
    height: 50px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
.messageContent,.startContent{
    display: flex;
}
.messageContent{
    width: 75%;
    color: white;
    outline: none;
    font-size: 1.8rem;
    box-sizing: border-box;
    padding-left: 18px;
}
.startContent{
    width: 25%;
    padding-left: 19px;
    box-sizing: border-box;
}
.startContent span{
    width: 31px;
    height: 31px;
    border-radius: 15px;
    margin-left: 7px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.addItemBut{
    position: fixed;
    bottom: 9%;
    right: 30%;
}

.addItemCont{
    width: 80%;
}
.addICBg{
    height: 100%;
    width: 100%;
    background: rgba(64, 64, 64, 0.86);
    position: absolute;
    display: none;
    justify-content: center;
}
.newItem{
    position: relative;
    display: flex;
    z-index: 99;
    width: 100%;
    margin-top: 2rem;
}
.newMenu{
    display: flex;
    height: 40px;
    width: 20%;
}
.icon-isOk,.icon-isNo{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    align-items: center;
    margin-left: 9px;
}
.out-shadow-red{
    box-shadow: -11px -7px 20px #fbd5d5;
}
.out-shadow-orange{
    box-shadow: -11px -7px 20px #f3dba6;
}
.out-shadow-gray{
    box-shadow: -11px -7px 10px #b9b9b9cf;
}
.icon-faster{
    font-size: 1.2rem;
}
.icon-fast{
     font-size: 1.1rem;
 }
.icon-normal{
     font-size: 1.6rem;
 }
[class *="icon-"]{
    font-family: iconfont;
    cursor: pointer;
}
.icon-plus{
    font-family: iconfont;
    font-size: 4rem;
}
@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.eot');
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('font/iconfont.woff2') format('woff2'),
    url('font/iconfont.woff') format('woff'),
    url('font/iconfont.ttf') format('truetype'),
    url('font/iconfont.svg#iconfont') format('svg');
}
@keyframes down {
    0% {
        top: -85px;
    }
    100% {
        top: 0px;
    }
}
