*{
    padding: 0;
    margin: 0;
}
.bg{
    background: url(img/desktop.jpg);
    height: 59rem;
    width: 114rem;
    -webkit-background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    transform: rotatex(18deg) rotateZ(11deg);
    transform: rotateY(31deg);
    /* transform-style: preserve-3d; */
    /* perspective: 60rem; */
}
.book+div{
    background: aliceblue;
}